
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>User Registration</title>
    <link rel="stylesheet" href="{% static 'assets/UserRegistration.css' %}">
</head>
<body>
    <div id="root"></div>

    <!-- React JS & React DOM -->
    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

    <!-- Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Axios for API calls -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- React Application -->
    <script type="text/babel" src="{% static 'assets/UserRegistration.js' %}"></script>
</body>
</html>
